@import './assets/styles/reset.css';
@import './assets/styles/header.css';
@import './assets/styles/content.css';
@import './assets/styles/footer.css';
@import './app/slider/slider.css';
@import './bootstrap/bootstrap.min.css';
@import './bootstrap/bootstrap.min.css.map';

#app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 16px;
  background-color: aliceblue;
  width: 100vw;
  height: 100%;
  overflow: auto;
}